# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\gitProject\ssm实战\Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
